.parent{
    display: flex;
    width: 100%;
    padding: 2%;
    margin: 2%;
}
.parent>.card{
    width: 20%;
    border: 2px solid blue;
    padding: 1%;
    margin: 1%;
    background-color: rgba(0, 0, 0, 0.1);
}
button{
    
    /*color:rgb(17, 0, 255);*/
}
/*mobile devices  320 to 480 px*/
@media only screen {min-width: 320px;} and {max-width: 480px;}


.parent{
    display: flex;
    flex-direction: column;
}
.parent>.card{
    width: 90%;
}

@media only screen {min-width: 481px;} and {max-width: 768px;}
.parent{
    display: flex;
    flex-direction: column;
}
.parent>.card{
    width: 90%;
}

/*@media screen {min-width: 769px;} and {max}